.env
.DS_Store
._*
pihole/etc-dnsmasq.d/*
!pihole/etc-dnsmasq.d/dummy
pihole/etc-pihole/*
!pihole/etc-pihole/dummy

octoprint/config/*
!octoprint/config/dummy

**/etc-dnsmasq.d/*
!**/etc-dnsmasq.d/dummy
**/etc-pihole/*
!**/etc-pihole/dummy

old
