# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	.ssh/authorized_keys

# Feel free to re-enable these if your use case requires them.
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no

# override default of no subsystems
Subsystem	sftp	internal-sftp

PermitRootLogin no
AllowUsers rick
PermitEmptyPasswords no
PasswordAuthentication yes
PrintMotd no
